# Data Science Tools and Ecosystem

_In this notebook, Data Science Tools and Ecosystem are summarized._

### *Objectives*:

- Some of the popular languages that Data Scientists use are
- Some of the commonly used libraries used by Data Scientists
- Some Arithmetic expressions in Python

### Some of the popular languages that Data Scientists use are:

1. R.
2. Python.
3. SQL.
4. Java.
5. Scala.
6. Julia.

### Some of the commonly used libraries used by Data Scientists include:

1. NumPy.
2. Pandas.
3. Matplotlib.


| Data Science Tools |
|------------------|
|Apache Hadoop |
|Apache Spark |
|Pyhon|

### Below are a few examples of evaluating arithmetic expressions in Python

_This a simple arithmetic expression to mutiply then add integers_

In [5]:
(3*4)+5

17

_This will convert 200 minutes to hours by diving by 60_

In [7]:

 200 / 60

3.3333333333333335

## Author
Johana Hern√°ndez